
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.distance-from-top{
  margin-top: 60px;
}
.red-label{
  /*background-color: orange !important;*/
  color: red;
}

.distanced{
  margin-top:5px;
}
.center {
  text-align: center;
}
