<div ng-controller="ViewBreakLogCtrl as ctrl">
    <h3>Plakietki</h3>
    <div class="row">
        <div class="col-md-5">
            <h4>Krótkie przerwy:</h4>
            <div class="row distanced" ng-repeat="break in ctrl.shortUserList">
                <input type="button" class="button col-lg-12 form-control btn btn-danger" value="{{break.login}} od {{(break.secondsLeft/60 | number:0)*1}}:{{break.secondsLeft%60}}" ng-click="ctrl.removeAShortBreak(break.login)">
            </div>
            <div  class="row distanced" ng-repeat="vals in ctrl.getNumber(ctrl.availableShorts)  track by $index">
                <input type="button" class="button col-lg-12 form-control btn btn-success" value="WOLNA" ng-click="ctrl.takeAShortBreak()" >
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4>Długie przerwy:</h4>
            <div class="row distanced" ng-repeat="break in ctrl.longUserList">
                <input type="button" class="button col-lg-12 form-control btn btn-danger" value="{{break.login}} od {{(break.secondsLeft/60 | number:0)*1}}:{{break.secondsLeft%60}}" ng-click="ctrl.removeALongBreak(break.login)">
            </div>
            <div  class="row distanced" ng-repeat="val in ctrl.getNumber(ctrl.availableLongs)  track by $index">
                <input type="button" class="button col-lg-12 form-control btn btn-success" value="WOLNA" ng-click="ctrl.takeALongBreak()">
            </div>
        </div>
        <div class="warning"></div>
    </div>
    <div class="row distanced"></div>
       <div class="row">
           <div class="col-md-5"></div>
           <h6 style="margin-left: 6px">Odśwież</h6>
           <div class style="text-align: center"></div>
           <div class="fa-1x">
            <i class="fas fa-sync fa-spin"></i>
        </div>
    </div>

</div>